.container{
  text-align: center;
  justify-content: center;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
button{
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
input[type='text']{
  padding: 10px;
  border:2px solid black;
  border-radius: 5px;
}
li{
  font-weight: bold;
  padding: 15px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
}
.text{
  flex: 1;
}
.filterButton{
  padding: 8px 12px;
  margin-left: 10px;
  color: black;
  background-color: rgb(102, 102, 245);
}
.deleteFilterButton{
  padding: 8px 12px;
  margin-left: 10px;
  color: black;
  background-color: red;
}
.addButton{
  padding: 8px 12px;
  margin-left: 10px;
  color: black;
  background-color: greenyellow;
}
.deleteButton{
  padding: 8px 12px;
  margin-left: 10px;
  background-color: red;
}
.searchButton{
  padding: 8px 12px;
  margin-left: 10px;
  color:black;
  background-color: rgb(252, 252, 5);
}
.completed{
  color: black;
  text-decoration: line-through;
  cursor: pointer;
}